[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pydantic = "*"
pillow = "*"
asyncpraw = "*"
tormysql = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
types-pillow = "*"
autoflake = "*"
cryptography = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
